<body>  
  <div class="author">
  <h1 class="author__heading"></h1>
  <p class="author__body">NB-IoT Data Portal</p>
  </div>
  <div class="form-container">
  <form action="" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="Login" class="btn">
  </form>
  </div>
</body>